<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.androidemu.snes"
		android:versionCode="67"
		android:versionName="2.0.4"
		android:installLocation="preferExternal">

	<uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:label="@string/app_label"
			android:icon="@drawable/app_icon">

		<activity android:name="MainActivity"
				android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity-alias android:name="CreateShortcuts"
				android:targetActivity="MainActivity"
				android:label="@string/launcher_shortcut_name">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity-alias>

		<activity android:name="FileChooser" />
		<activity android:name="StateSlotsActivity"
				android:theme="@android:style/Theme.Dialog" />
		<activity android:name="KeyProfilesActivity"/>
		<activity android:name="HelpActivity" />
		<activity android:name="DeviceListActivity"
				android:theme="@android:style/Theme.Dialog"
				android:configChanges="orientation|keyboardHidden" />

		<activity android:name="CheatsActivity" android:process=":emulator"/>
		<activity android:name="EmulatorSettings" android:process=":emulator"/>

		<activity android:name="EmulatorActivity"
				android:process=":emulator"
				android:launchMode="singleTask"
				android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" />
				<data android:mimeType="application/zip" />
				<data android:mimeType="application/octet-stream" />
			</intent-filter>
		</activity>

		<service android:name="EmulatorService" android:process=":emulator"/>

	</application>
</manifest>
